name: .NET Core

on: [push]

jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019]
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: 0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.100
    - name: Build with dotnet
      run: dotnet build ./src/Solution.sln --configuration Release
    - name: Test with dotnet
      run: dotnet test ./src/Solution.sln --configuration Release
